@use "../../partials/colors";
@use "../../partials/mixins";

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: colors.$primaryLightColor;

  @include mixins.tablet {
    padding: auto;
    background-color: rgba(19, 24, 44, 0.7);
  }
  &__question {
    margin-top: 1.5rem;
    width: 100%;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mixins.tablet {
      background-color: colors.$primaryLightColor;
      height: 50%;
    }
  }

  &__close {
    display: flex;
    justify-content: flex-end;
  }
  &__actions {
    display: flex;
    @include mixins.tablet {
      justify-content: flex-end;
    }
  }

  &__cancel {
    width: 50%;
    @include mixins.add-button;
    margin-right: 0.5rem;
    border: 1px solid colors.$secondaryLightColor;
    background-color: colors.$primaryLightColor;
    color: colors.$secondaryDarkColor;
    @include mixins.tablet {
      height: 2.375rem;
      width: 4.5rem;
    }
  }
  &__confirm {
    width: 50%;
    @include mixins.add-button;
    margin-left: 0.5rem;
    background-color: colors.$errorColor;
    color: colors.$primaryLightColor;
    @include mixins.tablet {
      height: 2.375rem;
      width: 4.5rem;
    }
  }
}
