@use '../../partials/global' as *;
@use '../../partials/colors';
@use '../../partials/mixins';


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem 1rem 6rem 1rem; 
    background-color: colors.$backgroundDarkColor;
    
    @include mixins.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem 7rem 2rem; 
    }

    @include mixins.desktop {
        padding: 2rem 8rem 7rem 8rem; 
    }

    &__logo {
        width: 8rem;
        margin-bottom: 1rem;

        @include mixins.tablet {
            width: 8rem;
        }
    }

    &__nav {
        width: 100%;
        margin-top: 0.75rem;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        font-size: 0.8125rem;
        font-weight: 600;

        @include mixins.tablet {
            font-size: 0.875rem;
            justify-content: flex-end;
        }
    }

    &__link-warehouses {
        @include mixins.navigation-mobile;

        @include mixins.tablet {
            @include mixins.navigation-tablet;
        }

    }

    &__link-inventory {
        @include mixins.navigation-mobile;
        margin-left: 1.5rem;

        @include mixins.tablet {
            @include mixins.navigation-tablet;
        }

        @include mixins.desktop {
            padding-right: 1rem; 
        }
    }

    &__link--active {
        color: colors.$primaryLightColor;
        background-color: colors.$primaryDarkColor;
        padding: 0.5rem 2.95rem;
        border-radius: 50px;

        @include mixins.tablet {
            padding: 0.625rem 1rem;
        }
    }
}
