@use "variables";
@use "colors";

@mixin mobile {
  @media screen and (min-width: variables.$mobile-screen) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: variables.$tablet-screen) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: variables.$desktop-screen) {
    @content;
  }
}

@mixin navigation-mobile {
    text-decoration: none;
    color: colors.$secondaryLightColor;
    padding: 0 2.75rem;
    width: 50%;
    
    &:hover {
        text-decoration: underline;
        color: colors.$primaryLightColor;
    }
}

@mixin navigation-tablet {
  font-size: 0.9rem;
  padding: 0;
}
