@use "./partials/global" as *;
@use "./partials/mixins" ;

.main-container{
    padding: 0 1rem;
    margin-top: -3.75rem;
    @include mixins.tablet {
        padding: 0 2rem;
        margin-top: -6rem;
    }
}